# Node / Frontend
**/node_modules/
**/dist/
**/.env
**/.env.local
**/.env.*.local

# Python / Backend
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/venv/
**/.venv/
**/env/
*.pth
*.pt


# OS specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
